section.bloque_dos_fotos {
    padding: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.yellow {
    background: linear-gradient(90deg,var(--white) 40%, var(--yellow) 40% );
}

.green {
    background: linear-gradient(90deg,var(--white) 40%, var(--green) 40% );
}

.blue {
    background: linear-gradient(90deg,var(--white) 40%, var(--blue) 40% );
}