section.bloqueTexto {
    padding: 130px 0;
    width: 800px;
    margin: 0 auto;

    & h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    & p {
        font-size: 2rem;
    }

    & a {
        color: var(--blue);
    }
}	